:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #637e76;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8dfd4;
  border: none;
  box-shadow: 2px 3px #c69774;
  cursor: pointer;
  transition: 0.25s;
}
button:hover,
button:active {
  background-color: #ffefe8;
  transform: translateY(3px);
  box-shadow: 1px 2px #c69774;
}

.DiceTray {
  width: 500px;
  display: flex;
  padding: 0 25px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #9da2fc;
  }
} */

.d6 {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.d6-s1,
.d6-s2,
.d6-s3,
.d6-s4,
.d6-s5,
.d6-s6 {
  position: absolute;
  background-color: #4f016c;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #320144;
  text-align: center;
  line-height: 2em;
}

.d6-s1 {
  transform: translateZ(50px);
}

.d6-s6 {
  transform: rotateY(90deg) translateZ(50px);
}

.d6-s3 {
  transform: rotateY(-90deg) translateZ(50px);
}

.d6-s4 {
  transform: rotateX(90deg) translateZ(50px);
}

.d6-s5 {
  transform: rotateX(-90deg) translateZ(50px);
}

.d6-s2 {
  transform: rotateY(-180deg) translateZ(50px);
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg);
}
