:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #637e76;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 200px;
  min-height: 250px;
  padding: 15px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8dfd4;
  border: none;
  box-shadow: 2px 3px #c69774;
  cursor: pointer;
  transition: 0.25s;
}
button:hover,
button:active {
  background-color: #ffefe8;
  transform: translateY(3px);
  box-shadow: 1px 2px #c69774;
}

.DiceTray {
  max-width: 500px;
  display: flex;
  padding: 20px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #9da2fc;
  }
} */

.d6,
.d4 {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}
/* animation: revolve 20s linear infinite;
}
@keyframes revolve {
  100% {
    transform: rotateY(1440deg) rotateX(45deg);
  }
} */

.d4-s1,
.d4-s2,
.d4-s3,
.d4-s4 {
  position: absolute;
  width: 100px;
  height: 86px;
  background-image: linear-gradient(to bottom right, transparent 50%, #4f016c 0),
    linear-gradient(to top right, #4f016c 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  display: flex;
  text-indent: 34px;
  margin: 0 auto;
  line-height: 2em;
}

.d4-s1 {
  transform: translateZ(43px) rotateX(30deg);
}

.d4-s2 {
  transform: rotateY(60deg) rotateX(30deg);
}

.d4-s3 {
  transform: translateY(-120px);
}

.d4-s4 {
  transform: rotateX(90deg) translateZ(-40px) translateY(26px);
}

.d6-s1,
.d6-s2,
.d6-s3,
.d6-s4,
.d6-s5,
.d6-s6 {
  position: absolute;
  background-color: #4f016c;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #320144;
  text-align: center;
  line-height: 2em;
}

.d6-s1 {
  transform: translateZ(50px);
}

.d6-s6 {
  transform: rotateY(90deg) translateZ(50px);
}

.d6-s3 {
  transform: rotateY(-90deg) translateZ(50px);
}

.d6-s4 {
  transform: rotateX(90deg) translateZ(50px);
}

.d6-s5 {
  transform: rotateX(-90deg) translateZ(50px);
}

.d6-s2 {
  transform: rotateY(-180deg) translateZ(50px);
}

.d6-show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.d6-show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.d6-show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.d6-show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.d6-show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.d6-show-2 {
  transform: rotateX(-900deg) rotateZ(900deg);
}

.rolling {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}

.bag {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8dfd4;
  border: none;
  box-shadow: 2px 3px #c69774;
  cursor: pointer;
  transition: 0.25s;
}

.bag:hover,
.bag:active {
  background-color: #ffefe8;
  transform: translateY(3px);
  box-shadow: 1px 2px #c69774;
}
